In [1]:
import twint
import pandas

In [2]:
raw = pandas.read_csv('86twitter.csv')
ids = []

In [3]:
for r in raw.iterrows():
    s = r[1].values[0].strip('@')
    ids.append(s)

In [7]:
p = pandas.DataFrame(data=ids)
p.to_csv('111.csv')

In [3]:
a = '123.csv'
b = a[:-4]

In [5]:
import os
import sys
import csv
import pandas

file_path = '..\\result'
target = []
for file in os.listdir(file_path):
    # 可以添加过滤条件if file.endwith(".csv"）
    target.append(file[0:-4])

In [21]:
source = pandas.DataFrame(data=target, columns=['followings'])

In [22]:
source

         followings
0        abrownepek
1     AlexDukalskis
2          andykeiz
3       apatrickafr
4        asher_wray
5       BillGalston
6    brannerchinese
7    ChancellorBeth
8          cwormuth
9        DanLGolden
10   Daugherty_Twit
11           DeanDW
12      dleelatimes
13        EKMatambo
14   EmanuelStoakes
15           GCLeef
16        gregmyre1
17        HalBrands
18        Helledale
19    IsmailEinashe
20    james_a_lewis
21       JDevermont
22        JEPomfret
23        JesLudwig
24        jimabeler
25        jmulvenon
26   JoanBrzezinski
27    kastner_scott
28        LUKEPATEY
29        luosiling
30    MadelynGlobal
31        Mangionel
32  meredithmcquaid
33  morganwright_us
34        MWesselDC
35        perrylink
36         PLMattis
37        RepRooney
38    RepTomGarrett
39      RichEdsonDC
40           rick_n
41   salmoncongress
42      sbrazys_ucd
43         SimonWSJ
44   siobhanehughes
45     SusanSvrluga
46   TeresaWatanabe
47         terzuolo
48        Walker_CT
49     WesPres_1836

In [10]:
dt = pandas.read_csv('..\\result\\'+os.listdir(file_path)[0])

In [25]:
dt = dt.iloc[:,0].dropna()

In [33]:
fo = pandas.merge(dt, source, on=['followings']).values.T.tolist()[0]

In [34]:
fo

['JEPomfret', 'JesLudwig', 'Walker_CT', 'jmulvenon', 'perrylink']

In [ ]:
for file in os.listdir(file_path):
    p = pandas.read_csv('result/' + file)